In [16]:
import numpy as np 
import pandas as pd

In [17]:
df=pd.read_csv("movies.csv")

data understanding

In [18]:
df.head(1)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron

In [19]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [20]:
  # transpose the data set
  df.head(1).T

                                                                      0
index                                                                 0
budget                                                        237000000
genres                         Action Adventure Fantasy Science Fiction
homepage                                    http://www.avatarmovie.com/
id                                                                19995
keywords              culture clash future space war space colony so...
original_language                                                    en
original_title                                                   Avatar
overview              In the 22nd century, a paraplegic Marine is di...
popularity                                                   150.437577
production_companies  [{"name": "Ingenious Film Partners", "id": 289...
production_countries  [{"iso_3166_1": "US", "name": "United States o...
release_date                                                 2009-12-10
revenue                                                      2787965087
runtime                                                           162.0
spoken_languages      [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                         Released
tagline                                     Enter the World of Pandora.
title                                                            Avatar
vote_average                                                        7.2
vote_count                                                        11800
cast                  Sam Worthington Zoe Saldana Sigourney Weaver S...
crew                  [{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...
director                                                  James Cameron

In [21]:
df.info

<bound method DataFrame.info of       index     budget                                    genres  \
0         0  237000000  Action Adventure Fantasy Science Fiction
1         1  300000000                  Adventure Fantasy Action
2         2  245000000                    Action Adventure Crime
3         3  250000000               Action Crime Drama Thriller
4         4  260000000          Action Adventure Science Fiction
...     ...        ...                                       ...
4798   4798     220000                     Action Crime Thriller
4799   4799       9000                            Comedy Romance
4800   4800          0             Comedy Drama Romance TV Movie
4801   4801          0                                       NaN
4802   4802          0                               Documentary

                                               homepage      id  \
0                           http://www.avatarmovie.com/   19995
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
4                  http://movies.disney.com/john-carter   49529
...                                                 ...     ...
4798                                                NaN    9367
4799                                                NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords original_language  \
0     culture clash future space war space colony so...                en
1     ocean drug abuse exotic island east india trad...                en
2            spy based on novel secret agent sequel mi6                en
3     dc comics crime fighter terrorist secret ident...                en
4     based on novel mars medallion space travel pri...                en
...                                                 ...               ...
4798  united states\u2013mexico barrier legs arms pa...                es
4799                                                NaN                en
4800  date love at first sight narration investigati...                en
4801                                                NaN                en
4802               obsession camcorder crush dream girl                en

                                original_title  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4798                               El Mariachi
4799                                 Newlyweds
4800                 Signed, Sealed, Delivered
4801                          Shanghai Calling
4802                         My Date with Drew

                                               overview  popularity  ...  \
0     In the 22nd century, a paraplegic Marine is di...  150.437577  ...
1     Captain Barbossa, long believed to be dead, ha...  139.082615  ...
2     A cryptic message from Bond’s past sends him o...  107.376788  ...
3     Following the death of District Attorney Harve...  112.312950  ...
4     John Carter is a war-weary, former military ca...   43.926995  ...
...                                                 ...         ...  ...
4798  El Mariachi just wants to play his guitar and ...   14.269792  ...
4799  A newlywed couple's honeymoon is upended by th...    0.642552  ...
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476  ...
4801  When ambitious New York attorney Sam is sent t...    0.857008  ...
4802  Ever since the second grade when he first saw ...    1.929883  ...

     runtime                                   spoken_languages    status  \
0      162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1      169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2      148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3      165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4      132.0           [{"iso_639_1": "en", "name": "English"}]  Released
...      ...                                                ...       ...
4798    81.0      [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]  Released
4799    85.0                                                 []  Released
4800   120.0           [{"iso_639_1": "en", "name": "English"}]  Released
4801    98.0           [{"iso_639_1": "en", "name": "English"}]  Released
4802    90.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                                tagline  \
0                           Enter the World of Pandora.
1        At the end of the world, the adventure begins.
2                                 A Plan No One Escapes
3                                       The Legend Ends
4                  Lost in our world, found in another.
...                                                 ...
4798  He didn't come looking for trouble, but troubl...
4799  A newlywed couple's honeymoon is upended by th...
4800                                                NaN
4801                           A New Yorker in Shanghai
4802                                                NaN

                                         title vote_average vote_count  \
0                                       Avatar          7.2      11800
1     Pirates of the Caribbean: At World's End          6.9       4500
2                                      Spectre          6.3       4466
3                        The Dark Knight Rises          7.6       9106
4                                  John Carter          6.1       2124
...                                        ...          ...        ...
4798                               El Mariachi          6.6        238
4799                                 Newlyweds          5.9          5
4800                 Signed, Sealed, Delivered          7.0          6
4801                          Shanghai Calling          5.7          7
4802                         My Date with Drew          6.3         16

                                                   cast  \
0     Sam Worthington Zoe Saldana Sigourney Weaver S...
1     Johnny Depp Orlando Bloom Keira Knightley Stel...
2     Daniel Craig Christoph Waltz L\u00e9a Seydoux ...
3     Christian Bale Michael Caine Gary Oldman Anne ...
4     Taylor Kitsch Lynn Collins Samantha Morton Wil...
...                                                 ...
4798  Carlos Gallardo Jaime de Hoyos Peter Marquardt...
4799  Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...
4800  Eric Mabius Kristin Booth Crystal Lowe Geoff G...
4801  Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...
4802  Drew Barrymore Brian Herzlinger Corey Feldman ...

                                                   crew           director
0     [{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...      James Cameron
1     [{'name': 'Dariusz Wolski', 'gender': 2, 'depa...     Gore Verbinski
2     [{'name': 'Thomas Newman', 'gender': 2, 'depar...         Sam Mendes
3     [{'name': 'Hans Zimmer', 'gender': 2, 'departm...  Christopher Nolan
4     [{'name': 'Andrew Stanton', 'gender': 2, 'depa...     Andrew Stanton
...                                                 ...                ...
4798  [{'name': 'Robert Rodriguez', 'gender': 0, 'de...   Robert Rodriguez
4799  [{'name': 'Edward Burns', 'gender': 2, 'depart...       Edward Burns
4800  [{'name': 'Carla Hetland', 'gender': 0, 'depar...        Scott Smith
4801  [{'name': 'Daniel Hsia', 'gender': 2, 'departm...        Daniel Hsia
4802  [{'name': 'Clark Peterson', 'gender': 2, 'depa...   Brian Herzlinger

[4803 rows x 24 columns]>

In [22]:
df.shape

(4803, 24)

In [31]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
budget,4803.0,NaN,NaN,NaN,29045039.875286,40722391.258549,0.0,790000.0,15000000.0,40000000.0,380000000.0
genres,4775,1168,Drama,370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
homepage,1712,1691,http://www.missionimpossible.com/,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id,4803.0,NaN,NaN,NaN,57165.484281,88694.614033,5.0,9014.5,14629.0,58610.5,459488.0
keywords,4391,4219,independent film,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_language,4803,37,en,4505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_title,4803,4801,Out of the Blue,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
overview,4800,4800,A snobbish investor and a wily street con-arti...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
popularity,4803.0,NaN,NaN,NaN,21.492301,31.81665,0.0,4.66807,12.921594,28.313505,875.581305
production_companies,4803,3697,[],351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
production_countries,4803,469,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_date,4802,3280,2006-01-01,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
revenue,4803.0,NaN,NaN,NaN,82260638.651676,162857100.942826,0.0,0.0,19170001.0,92917187.0,2787965087.0
runtime,4801.0,NaN,NaN,NaN,106.875859,22.611935,0.0,94.0,103.0,118.0,338.0
spoken_languages,4803,544,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",3171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,4803,3,Released,4795,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tagline,3959,3944,Based on a true story.,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,4803,4800,Out of the Blue,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vote_average,4803.0,NaN,NaN,NaN,6.092172,1.194612,0.0,5.6,6.2,6.8,10.0
vote_count,4803.0,NaN,NaN,NaN,690.217989,1234.585891,0.0,54.0,235.0,737.0,13752.0
cast,4760,4741,William Shatner Leonard Nimoy DeForest Kelley ...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
crew,4803,4776,[],28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
director,4773,2349,Steven Spielberg,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron

In [33]:
df.drop("index",axis=1 , inplace=True)

KeyError: "['index'] not found in axis"

In [34]:
df.shape

(4803, 23)

In [38]:
#let us go ahead and create three subsets of our original
# rumtime>150
imdb1 =df[df['runtime'] >=150]
imdb2 = df[(df['runtime']<150) & (df['runtime']>100)]
imdb3 = df[df['runtime']<=100]

In [36]:
imdb1.shape

(179, 23)

In [37]:
imdb2.shape

(2533, 23)

In [39]:
imdb3.shape

(2089, 23)