In [1]:
import numpy as np 
import pandas as pd

In [3]:
a=np.random.randint(10,20, size=(4,6))
a

array([[13, 14, 16, 15, 11, 19],
       [14, 10, 17, 10, 14, 11],
       [15, 13, 17, 14, 11, 11],
       [17, 15, 13, 14, 18, 18]])

In [4]:
a[1,1]

10

In [6]:
a[1][1]

10

In [11]:
a_df=pd.DataFrame(a,columns=['a','c','b','d','e','f'],index=['x','y','e','h'])
a_df

    a   c   b   d   e   f
x  13  14  16  15  11  19
y  14  10  17  10  14  11
e  15  13  17  14  11  11
h  17  15  13  14  18  18

In [10]:
a_df.iloc[1,1]

10

In [12]:
a_df.loc['x']

a    13
c    14
b    16
d    15
e    11
f    19
Name: x, dtype: int32

In [13]:
a_df.loc["x","c"]

14

In [15]:
# acess only f column
a_df.loc[:,"f"]

x    19
y    11
e    11
h    18
Name: f, dtype: int32

In [18]:
a_df.iloc[:,[5,0]] #iloc use for indeger index and loc use for   char index

    f   a
x  19  13
y  11  14
e  11  15
h  18  17

In [9]:
df=pd.read_csv("IMDB Dataset.csv")
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [20]:
df.shape

(50000, 2)