In [14]:
import numpy as np 
import pandas as pd

In [3]:
a=np.random.randint(10,20, size=(4,6))
a

array([[19, 14, 19, 12, 11, 17],
       [18, 15, 14, 19, 12, 18],
       [18, 10, 15, 18, 10, 17],
       [15, 15, 17, 15, 11, 17]])

In [4]:
a[1,1]

15

In [5]:
a[1][1]

15

In [6]:
a_df=pd.DataFrame(a,columns=['a','c','b','d','e','f'],index=['x','y','e','h'])
a_df

    a   c   b   d   e   f
x  19  14  19  12  11  17
y  18  15  14  19  12  18
e  18  10  15  18  10  17
h  15  15  17  15  11  17

In [7]:
a_df.iloc[1,1]

15

In [8]:
a_df.loc['x']

a    19
c    14
b    19
d    12
e    11
f    17
Name: x, dtype: int32

In [9]:
a_df.loc["x","c"]

14

In [10]:
# acess only f column
a_df.loc[:,"f"]

x    17
y    18
e    17
h    17
Name: f, dtype: int32

In [11]:
a_df.iloc[:,[5,0]] #iloc use for indeger index and loc use for   char index

    f   a
x  17  19
y  18  18
e  17  18
h  17  15

In [12]:
df=pd.read_csv("movies.csv")
df

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,4798,220000,Action Crime Thriller,NaN,9367,united states\u2013mexico barrier legs arms pa...,es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,"[{'name': 'Robert Rodriguez', 'gender': 0, 'de...",Robert Rodriguez
4799,4799,9000,Comedy Romance,NaN,72766,NaN,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,"[{'name': 'Edward Burns', 'gender': 2, 'depart...",Edward Burns
4800,4800,0,Comedy Drama Romance TV Movie,http://www.hallmarkchannel.com/signedsealeddel...,231617,date love at first sight narration investigati...,en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,"[{'name': 'Carla Hetland', 'gender': 0, 'depar...",Scott Smith
4801,4801,0,NaN,http://shanghaicalling.com/,126186,NaN,en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,"[{'name': 'Daniel Hsia', 'gender': 2, 'departm...",Daniel Hsia
4802,4802,0,Documentary,NaN,25975,obsession camcorder crush dream girl,en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,Drew Barrymore Brian Herzlinger Corey Feldman ...,"[{'name': 'Clark Peterson', 'gender': 2, 'depa...",Brian Herzlinger

In [16]:
df.shape

(4803, 24)

In [21]:
#1000 t0 1003 rows | columns 1,2,18
df.iloc[1000:1004,[0,1,17]]

      index    budget                                          tagline
1000   1000  50000000                              One hell of a ride.
1001   1001  50000000         Some fight for power. Some fight for us.
1002   1002  49000000  Stealing the power of the universes one by one.
1003   1003  49000000              Kojak. Columbo. Dirty Harry. Wimps.

In [24]:
# tanspose the data set
df.head(1000).T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
index,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
budget,237000000,300000000,245000000,250000000,260000000,258000000,260000000,280000000,250000000,250000000,...,50000000,22000000,50000000,50000000,50000000,60000000,55000000,50000000,50000000,60000000
genres,Action Adventure Fantasy Science Fiction,Adventure Fantasy Action,Action Adventure Crime,Action Crime Drama Thriller,Action Adventure Science Fiction,Fantasy Action Adventure,Animation Family,Action Adventure Science Fiction,Adventure Fantasy Family,Action Adventure Fantasy,...,Drama History Romance,Drama Thriller,Action Crime,Action Thriller Mystery Romance,Action Thriller Science Fiction,Fantasy Drama Romance,Comedy Crime Drama Thriller,Comedy,Comedy Crime,Comedy Drama Romance Science Fiction
homepage,http://www.avatarmovie.com/,http://disney.go.com/disneypictures/pirates/,http://www.sonypictures.com/movies/spectre/,http://www.thedarkknightrises.com/,http://movies.disney.com/john-carter,http://www.sonypictures.com/movies/spider-man3/,http://disney.go.com/disneypictures/tangled/,http://marvel.com/movies/movie/193/avengers_ag...,http://harrypotter.warnerbros.com/harrypottera...,http://www.batmanvsupermandawnofjustice.com/,...,NaN,http://www.fairgame-movie.com/,NaN,NaN,http://gamerthemovie.com,NaN,NaN,http://www.zoolander.com/,NaN,NaN
id,19995,285,206647,49026,49529,559,38757,99861,767,209112,...,10533,38363,9923,11863,18501,109491,9275,329833,12634,10416
keywords,culture clash future space war space colony so...,ocean drug abuse exotic island east india trad...,spy based on novel secret agent sequel mi6,dc comics crime fighter terrorist secret ident...,based on novel mars medallion space travel pri...,dual identity amnesia sandstorm love of one's ...,hostage magic horse fairy tale musical,marvel comic sequel superhero based on comic b...,witch magic broom school of witchcraft wizardry,dc comics vigilante superhero based on comic b...,...,based on novel burning of witches puritan preg...,cia nuclear scientist iraq politician duringcr...,bounty hunter fbi weapon spectacle,callgirl san francisco investigation murder,dystopia mind control gun battle wrongful impr...,civil war southern usa magic light dark,corruption moderator tv show success irish mob,stupidity sequel fashion male model fashion model,hotel robbery based on novel judge hawaii,noises alien life-form erection neue frau alien
original_language,en,en,en,en,en,en,en,en,en,en,...,en,en,en,en,en,en,en,en,en,en
original_title,Avatar,Pirates of the Caribbean: At World's End,Spectre,The Dark Knight Rises,John Carter,Spider-Man 3,Tangled,Avengers: Age of Ultron,Harry Potter and the Half-Blood Prince,Batman v Superman: Dawn of Justice,...,The Scarlet Letter,Fair Game,Domino,Jade,Gamer,Beautiful Creatures,Death to Smoochy,Zoolander 2,The Big Bounce,What Planet Are You From?
overview,"In the 22nd century, a paraplegic Marine is di...","Captain Barbossa, long believed to be dead, ha...",A cryptic message from Bond’s past sends him o...,Following the death of District Attorney Harve...,"John Carter is a war-weary, former military ca...",The seemingly invincible Spider-Man goes up ag...,When the kingdom's most wanted-and most charmi...,When Tony Stark tries to jumpstart a dormant p...,"As Harry begins his sixth year at Hogwarts, he...",Fearing the actions of a god-like Super Hero l...,...,"Set in puritanical Boston in the mid 1600s, th...",Wife and mother Valerie Plame (Naomi Watts) ha...,"The daughter of actor, Laurence Harvey turns a...",Someone does a nasty hatchet job on a San Fran...,Mind-control technology has taken society by a...,Ethan Wate just wants to get to know Lena Duch...,"Tells the story of Rainbow Randolph, the corru...",Derek and Hansel are modelling again when an o...,A small-time con artist and a Hawaiian real es...,"A highly-evolved planet, whose denizens feel n..."
popularity,150.437577,139.082615,107.376788,112.31295,43.926995,115.699814,48.681969,134.279229,98.885637,155.790452,...,7.44268,12.54949,18.394571,8.189406,27.631262,40.721373,11.329727,37.253774,6.397388,2.275331
production_companies,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...",...,"[{""name"": ""Hollywood Pictures"", ""id"": 915}, {""...","[{""name"": ""River Road Entertainment"", ""id"": 12...","[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""name"": ""Lakeshore Entertainment"", ""id"": 126...","[{""name"": ""Alcon Entertainment"", ""id"": 1088}, ...","[{""name"": ""Senator Film Produktion"", ""id"": 191...","[{""name"": ""Scott Rudin Productions"", ""id"": 258...","[{""name"": ""Shangri-La Entertainment"", ""id"": 22...","[{""name"": ""Columbia Pictures"", ""id"": 5}]"
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
release_date,2009-12-10,2007-05-19,2015-10-26,2012-07-16,2012-03-07,2007-05-01,2010-11-24,2015-04-22,2009-07-07,2016-03-23,...,1995-10-13,2010-05-20,2005-09-22,1995-10-13,2009-09-03,2013-02-13,2002-03-28,2016-02-06,2004-01-30,2000-03-03
revenue,2787965087,961000000,880674609,1084939099,284139100,890871626,591794936,1405403694,933959197,873260194,...,10382407,24188922,22944502,9851610,40828540,60052138,0,55969000,6808550,0
runtime,162.0,169.0,148.0,165.0,132.0,139.0,100.0,141.0,153.0,151.0,...,135.0,108.0,127.0,95.0,95.0,124.0,109.0,100.0,88.0,105.0
spoken_languages,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]"
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,Enter the World of Pandora.,"At the end of the world, the adventure begins.",A Plan No One Escapes,The Legend Ends,"Lost in our world, found in another.",The battle within.,They're taking adventure to new lengths.,A New Age Has Come.,Dark Secrets Revealed,Justice or revenge,...,When intimacy is forbidden and passion is a si...,Wife. Mother. Spy.,Heads You Live... Tails You Die.,Some fantasies go too far.,"In the near future, you don't live to play... ...",Dark secrets will come to light.,Get ready for an unexpected hit.,Long time no Z,It's all in who you trust,"To save his planet, an alien must find a woman..."
title,Avatar,Pirates of the Caribbean: At World's End,Spectre,The Dark Knight Rises,John Carter,Spider-Man 3,Tangled,Avengers: Age of Ultron,Harry Potter and the Half-Blood Prince,Batman v Superman: Dawn of Justice,...,The Scarlet Letter,Fair Game,Domino,Jade,Gamer,Beautiful Creatures,Death to Smoochy,Zoolander 2,The Big Bounce,What Planet Are You From?
vote_average,7.2,6.9,6.3,7.6,6.1,5.9,7.4,7.3,7.4,5.7,...,5.5,6.5,6.0,5.2,5.6,5.6,5.9,4.7,5.0,5.4
vote_count,11800,4500,4466,9106,2124,3576,3330,6767,5293,7004,...,108,235,444,44,760,984,132,797,76,37
cast,Sam Worthington Zoe Saldana Sigourney Weaver S...,Johnny Depp Orlando Bloom Keira Knightley Stel...,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Christian Bale Michael Caine Gary Oldman Anne ...,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Tobey Maguire Kirsten Dunst James Franco Thoma...,Zachary Levi Mandy Moore Donna Murphy Ron Perl...,Robert Downey Jr. Chris Hemsworth Mark Ruffalo...,Daniel Radcliffe Rupert Grint Emma Watson Tom ...,Ben Affleck Henry Cavill Gal Gadot Amy Adams J...,...,Demi Moore Gary Oldman Robert Duvall Robert Pr...,Naomi Watts Sean Penn Ty Burrell Brooke Smith ...,Keira Knightley Mickey Rourke Edgar Ram\u00edr...,David Caruso Linda Fiorentino Chazz Palminteri...,Gerard Butler Michael C. Hall Logan Lerman Amb...,Alden Ehrenreich Alice Englert Jeremy Irons Vi...,Robin Williams Catherine Keener Edward Norton ...,Ben Stiller Owen Wilson Will Ferrell Pen\u00e9...,Owen Wilson Morgan Freeman Gary Sinise Sara Fo...,Garry Shandling Annette Bening John Goodman Gr...
crew,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...","[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...","[{'name': 'Thomas Newman', 'gender': 2, 'depar...","[{'name': 'Hans Zimmer', 'gender': 2, 'departm...","[{'name': 'Andrew Stanton', 'gender': 2, 'depa...","[{'name': 'Francine Maisler', 'gender': 1, 'de...","[{'name': 'John Lasseter', 'gender': 2, 'depar...","[{'name': 'Danny Elfman', 'gender': 2, 'depart...","[{'name': 'Bruno Delbonnel', 'gender': 0, 'dep...","[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",...,"[{'name': 'John Barry', 'gender': 0, 'departme...","[{'name': 'Doug Liman', 'gender': 2, 'departme...","[{'name': 'Denise Chamian', 'gender': 1, 'depa...","[{'name': 'James Horner', 'gender': 2, 'depart...","[{'name': 'Tom Rosenberg', 'gender': 2, 'depar...","[{'name': 'David Valdes', 'gender': 2, 'depart...","[{'name': 'Danny DeVito', 'gender': 2, 'depart...","[{'name': 'Justin Theroux', 'gender': 2, 'depa...","[{'name': 'Jeffrey L. Kimball', 'gender': 0, '...","[{'name': 'Carter Burwell', 'gender': 2, 'depa..."
director,James Cameron,Gore Verbinski,Sam Mendes,Christopher Nolan,Andrew Stanton,Sam Raimi,Byron Howard,Joss Whedon,David Yates,Zack Snyder,...,Roland Joff\u00e9,Doug Liman,Tony Scott,William Friedkin,Brian Taylor,Richard LaGravenese,Danny DeVito,Ben Stiller,George Armitage,Mike Nichols

In [25]:
# tanspose the data set
df.head(2).T

,0,1
index,0,1
budget,237000000,300000000
genres,Action Adventure Fantasy Science Fiction,Adventure Fantasy Action
homepage,http://www.avatarmovie.com/,http://disney.go.com/disneypictures/pirates/
id,19995,285
keywords,culture clash future space war space colony so...,ocean drug abuse exotic island east india trad...
original_language,en,en
original_title,Avatar,Pirates of the Caribbean: At World's End
overview,"In the 22nd century, a paraplegic Marine is di...","Captain Barbossa, long believed to be dead, ha..."
popularity,150.437577,139.082615
production_companies,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
release_date,2009-12-10,2007-05-19
revenue,2787965087,961000000
runtime,162.0,169.0
spoken_languages,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""iso_639_1"": ""en"", ""name"": ""English""}]"
status,Released,Released
tagline,Enter the World of Pandora.,"At the end of the world, the adventure begins."
title,Avatar,Pirates of the Caribbean: At World's End
vote_average,7.2,6.9
vote_count,11800,4500
cast,Sam Worthington Zoe Saldana Sigourney Weaver S...,Johnny Depp Orlando Bloom Keira Knightley Stel...
crew,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...","[{'name': 'Dariusz Wolski', 'gender': 2, 'depa..."
director,James Cameron,Gore Verbinski

In [17]:
df.info?

Signature:
df.info(
    verbose: 'Optional[bool]' = None,
    buf: 'Optional[IO[str]]' = None,
    max_cols: 'Optional[int]' = None,
    memory_usage: 'Optional[Union[bool, str]]' = None,
    show_counts: 'Optional[bool]' = None,
    null_counts: 'Optional[bool]' = None,
) -> 'None'
Docstring:
Print a concise summary of a DataFrame.

This method prints information about a DataFrame including
the index dtype and columns, non-null values and memory usage.

Parameters
----------
data : DataFrame
    DataFrame to print information about.
verbose : bool, optional
    Whether to print the full summary. By default, the setting in
    ``pandas.options.display.max_info_columns`` is followed.
buf : writable buffer, defaults to sys.stdout
    Where to send the output. By default, the output is printed to
    sys.stdout. Pass a writable buffer if you need to further process
    the output.
max_cols : int, optional
    When to switch from the verbose to the truncated output. If the
    DataFrame has more than `max_cols` columns, the truncated output
    is used. By default, the setting in
    ``pandas.options.display.max_info_columns`` is used.
memory_usage : bool, str, optional
    Specifies whether total memory usage of the DataFrame
    elements (including the index) should be displayed. By default,
    this follows the ``pandas.options.display.memory_usage`` setting.

    True always show memory usage. False never shows memory usage.
    A value of 'deep' is equivalent to "True with deep introspection".
    Memory usage is shown in human-readable units (base-2
    representation). Without deep introspection a memory estimation is
    made based in column dtype and number of rows assuming values
    consume the same memory amount for corresponding dtypes. With deep
    memory introspection, a real memory usage calculation is performed
    at the cost of computational resources.
show_counts : bool, optional
    Whether to show the non-null counts. By default, this is shown
    only if the DataFrame is smaller than
    ``pandas.options.display.max_info_rows`` and
    ``pandas.options.display.max_info_columns``. A value of True always
    shows the counts, and False never shows the counts.
null_counts : bool, optional
    .. deprecated:: 1.2.0
        Use show_counts instead.

Returns
-------
None
    This method prints a summary of a DataFrame and returns None.

See Also
--------
DataFrame.describe: Generate descriptive statistics of DataFrame
    columns.
DataFrame.memory_usage: Memory usage of DataFrame columns.

Examples
--------
>>> int_values = [1, 2, 3, 4, 5]
>>> text_values = ['alpha', 'beta', 'gamma', 'delta', 'epsilon']
>>> float_values = [0.0, 0.25, 0.5, 0.75, 1.0]
>>> df = pd.DataFrame({"int_col": int_values, "text_col": text_values,
...                   "float_col": float_values})
>>> df
    int_col text_col  float_col
0        1    alpha       0.00
1        2     beta       0.25
2        3    gamma       0.50
3        4    delta       0.75
4        5  epsilon       1.00

Prints information of all columns:

>>> df.info(verbose=True)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   int_col    5 non-null      int64
 1   text_col   5 non-null      object
 2   float_col  5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes

Prints a summary of columns count and its dtypes but not per column
information:

>>> df.info(verbose=False)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 3 entries, int_col to float_col
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes

Pipe output of DataFrame.info to buffer instead of sys.stdout, get
buffer content and writes to a text file:

>>> import io
>>> buffer = io.StringIO()
>>> df.info(buf=buffer)
>>> s = buffer.getvalue()
>>> with open("df_info.txt", "w",
...           encoding="utf-8") as f:  # doctest: +SKIP
...     f.write(s)
260

The `memory_usage` parameter allows deep introspection mode, specially
useful for big DataFrames and fine-tune memory optimization:

>>> random_strings_array = np.random.choice(['a', 'b', 'c'], 10 ** 6)
>>> df = pd.DataFrame({
...     'column_1': np.random.choice(['a', 'b', 'c'], 10 ** 6),
...     'column_2': np.random.choice(['a', 'b', 'c'], 10 ** 6),
...     'column_3': np.random.choice(['a', 'b', 'c'], 10 ** 6)
... })
>>> df.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   column_1  1000000 non-null  object
 1   column_2  1000000 non-null  object
 2   column_3  1000000 non-null  object
dtypes: object(3)
memory usage: 22.9+ MB

>>> df.info(memory_usage='deep')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   column_1  1000000 non-null  object
 1   column_2  1000000 non-null  object
 2   column_3  1000000 non-null  object
dtypes: object(3)
memory usage: 165.9 MB
File:      e:\anaconda\lib\site-packages\pandas\core\frame.py
Type:      method

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [29]:
df.describe?

Signature:
df.describe(
    percentiles=None,
    include=None,
    exclude=None,
    datetime_is_numeric=False,
) -> 'FrameOrSeries'
Docstring:
Generate descriptive statistics.

Descriptive statistics include those that summarize the central
tendency, dispersion and shape of a
dataset's distribution, excluding ``NaN`` values.

Analyzes both numeric and object series, as well
as ``DataFrame`` column sets of mixed data types. The output
will vary depending on what is provided. Refer to the notes
below for more detail.

Parameters
----------
percentiles : list-like of numbers, optional
    The percentiles to include in the output. All should
    fall between 0 and 1. The default is
    ``[.25, .5, .75]``, which returns the 25th, 50th, and
    75th percentiles.
include : 'all', list-like of dtypes or None (default), optional
    A white list of data types to include in the result. Ignored
    for ``Series``. Here are the options:

    - 'all' : All columns of the input will be included in the output.
    - A list-like of dtypes : Limits the results to the
      provided data types.
      To limit the result to numeric types submit
      ``numpy.number``. To limit it instead to object columns submit
      the ``numpy.object`` data type. Strings
      can also be used in the style of
      ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
      select pandas categorical columns, use ``'category'``
    - None (default) : The result will include all numeric columns.
exclude : list-like of dtypes or None (default), optional,
    A black list of data types to omit from the result. Ignored
    for ``Series``. Here are the options:

    - A list-like of dtypes : Excludes the provided data types
      from the result. To exclude numeric types submit
      ``numpy.number``. To exclude object columns submit the data
      type ``numpy.object``. Strings can also be used in the style of
      ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
      exclude pandas categorical columns, use ``'category'``
    - None (default) : The result will exclude nothing.
datetime_is_numeric : bool, default False
    Whether to treat datetime dtypes as numeric. This affects statistics
    calculated for the column. For DataFrame input, this also
    controls whether datetime columns are included by default.

    .. versionadded:: 1.1.0

Returns
-------
Series or DataFrame
    Summary statistics of the Series or Dataframe provided.

See Also
--------
DataFrame.count: Count number of non-NA/null observations.
DataFrame.max: Maximum of the values in the object.
DataFrame.min: Minimum of the values in the object.
DataFrame.mean: Mean of the values.
DataFrame.std: Standard deviation of the observations.
DataFrame.select_dtypes: Subset of a DataFrame including/excluding
    columns based on their dtype.

Notes
-----
For numeric data, the result's index will include ``count``,
``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
upper percentiles. By default the lower percentile is ``25`` and the
upper percentile is ``75``. The ``50`` percentile is the
same as the median.

For object data (e.g. strings or timestamps), the result's index
will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
is the most common value. The ``freq`` is the most common value's
frequency. Timestamps also include the ``first`` and ``last`` items.

If multiple object values have the highest count, then the
``count`` and ``top`` results will be arbitrarily chosen from
among those with the highest count.

For mixed data types provided via a ``DataFrame``, the default is to
return only an analysis of numeric columns. If the dataframe consists
only of object and categorical data without any numeric columns, the
default is to return an analysis of both the object and categorical
columns. If ``include='all'`` is provided as an option, the result
will include a union of attributes of each type.

The `include` and `exclude` parameters can be used to limit
which columns in a ``DataFrame`` are analyzed for the output.
The parameters are ignored when analyzing a ``Series``.

Examples
--------
Describing a numeric ``Series``.

>>> s = pd.Series([1, 2, 3])
>>> s.describe()
count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

Describing a categorical ``Series``.

>>> s = pd.Series(['a', 'a', 'b', 'c'])
>>> s.describe()
count     4
unique    3
top       a
freq      2
dtype: object

Describing a timestamp ``Series``.

>>> s = pd.Series([
...   np.datetime64("2000-01-01"),
...   np.datetime64("2010-01-01"),
...   np.datetime64("2010-01-01")
... ])
>>> s.describe(datetime_is_numeric=True)
count                      3
mean     2006-09-01 08:00:00
min      2000-01-01 00:00:00
25%      2004-12-31 12:00:00
50%      2010-01-01 00:00:00
75%      2010-01-01 00:00:00
max      2010-01-01 00:00:00
dtype: object

Describing a ``DataFrame``. By default only numeric fields
are returned.

>>> df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
...                    'numeric': [1, 2, 3],
...                    'object': ['a', 'b', 'c']
...                   })
>>> df.describe()
       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

Describing all columns of a ``DataFrame`` regardless of data type.

>>> df.describe(include='all')  # doctest: +SKIP
       categorical  numeric object
count            3      3.0      3
unique           3      NaN      3
top              f      NaN      a
freq             1      NaN      1
mean           NaN      2.0    NaN
std            NaN      1.0    NaN
min            NaN      1.0    NaN
25%            NaN      1.5    NaN
50%            NaN      2.0    NaN
75%            NaN      2.5    NaN
max            NaN      3.0    NaN

Describing a column from a ``DataFrame`` by accessing it as
an attribute.

>>> df.numeric.describe()
count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
Name: numeric, dtype: float64

Including only numeric columns in a ``DataFrame`` description.

>>> df.describe(include=[np.number])
       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

Including only string columns in a ``DataFrame`` description.

>>> df.describe(include=[object])  # doctest: +SKIP
       object
count       3
unique      3
top         a
freq        1

Including only categorical columns from a ``DataFrame`` description.

>>> df.describe(include=['category'])
       categorical
count            3
unique           3
top              d
freq             1

Excluding numeric columns from a ``DataFrame`` description.

>>> df.describe(exclude=[np.number])  # doctest: +SKIP
       categorical object
count            3      3
unique           3      3
top              f      a
freq             1      1

Excluding object columns from a ``DataFrame`` description.

>>> df.describe(exclude=[object])  # doctest: +SKIP
       categorical  numeric
count            3      3.0
unique           3      NaN
top              f      NaN
freq             1      NaN
mean           NaN      2.0
std            NaN      1.0
min            NaN      1.0
25%            NaN      1.5
50%            NaN      2.0
75%            NaN      2.5
max            NaN      3.0
File:      e:\anaconda\lib\site-packages\pandas\core\generic.py
Type:      method

In [31]:
# this method gives the overall descriptive summary of dataframe.

df.describe()

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [34]:
df.describe().round(2).T #round use to round off the values # T use for  transpose

,count,mean,std,min,25%,50%,75%,max
index,4803.0,2401.00,1.386650e+03,0.0,1200.50,2401.00,3601.50,4.802000e+03
budget,4803.0,29045039.88,4.072239e+07,0.0,790000.00,15000000.00,40000000.00,3.800000e+08
id,4803.0,57165.48,8.869461e+04,5.0,9014.50,14629.00,58610.50,4.594880e+05
popularity,4803.0,21.49,3.182000e+01,0.0,4.67,12.92,28.31,8.755800e+02
revenue,4803.0,82260638.65,1.628571e+08,0.0,0.00,19170001.00,92917187.00,2.787965e+09
runtime,4801.0,106.88,2.261000e+01,0.0,94.00,103.00,118.00,3.380000e+02
vote_average,4803.0,6.09,1.190000e+00,0.0,5.60,6.20,6.80,1.000000e+01
vote_count,4803.0,690.22,1.234590e+03,0.0,54.00,235.00,737.00,1.375200e+04

In [37]:
df.describe(percentiles=None,include=None,exclude=None,datetime_is_numeric=False)

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [38]:
df.describe(percentiles=[.05,.25,.50,.75,.95,.99]).round(2).T

,count,mean,std,min,5%,25%,50%,75%,95%,99%,max
index,4803.0,2401.00,1.386650e+03,0.0,240.10,1200.50,2401.00,3601.50,4.561900e+03,4.753980e+03,4.802000e+03
budget,4803.0,29045039.88,4.072239e+07,0.0,0.00,790000.00,15000000.00,40000000.00,1.150000e+08,1.949000e+08,3.800000e+08
id,4803.0,57165.48,8.869461e+04,5.0,578.10,9014.50,14629.00,58610.50,2.857790e+05,3.601533e+05,4.594880e+05
popularity,4803.0,21.49,3.182000e+01,0.0,0.36,4.67,12.92,28.31,6.739000e+01,1.209600e+02,8.755800e+02
revenue,4803.0,82260638.65,1.628571e+08,0.0,0.00,0.00,19170001.00,92917187.00,3.692849e+08,8.254563e+08,2.787965e+09
runtime,4801.0,106.88,2.261000e+01,0.0,83.00,94.00,103.00,118.00,1.440000e+02,1.780000e+02,3.380000e+02
vote_average,4803.0,6.09,1.190000e+00,0.0,4.30,5.60,6.20,6.80,7.600000e+00,8.100000e+00,1.000000e+01
vote_count,4803.0,690.22,1.234590e+03,0.0,4.00,54.00,235.00,737.00,3.040900e+03,6.172240e+03,1.375200e+04

In [44]:
# for categorical data
df.describe(include='object').T

,count,unique,top,freq
genres,4775,1168,Drama,370
homepage,1712,1691,http://www.missionimpossible.com/,4
keywords,4391,4219,independent film,55
original_language,4803,37,en,4505
original_title,4803,4801,Out of the Blue,2
overview,4800,4800,Will Freeman is a hip Londoner who one day rea...,1
production_companies,4803,3697,[],351
production_countries,4803,469,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2977
release_date,4802,3280,2006-01-01,10
spoken_languages,4803,544,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",3171
status,4803,3,Released,4795
tagline,3959,3944,Based on a true story.,3
title,4803,4800,Out of the Blue,2
cast,4760,4741,William Shatner Leonard Nimoy DeForest Kelley ...,6
crew,4803,4776,[],28
director,4773,2349,Steven Spielberg,27

In [46]:
df.describe(include='float').T

,count,mean,std,min,25%,50%,75%,max
popularity,4803.0,21.492301,31.816650,0.0,4.66807,12.921594,28.313505,875.581305
runtime,4801.0,106.875859,22.611935,0.0,94.00000,103.000000,118.000000,338.000000
vote_average,4803.0,6.092172,1.194612,0.0,5.60000,6.200000,6.800000,10.000000

In [47]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [48]:
df.index

RangeIndex(start=0, stop=4803, step=1)

In [50]:
#iloc get rows or columns at a  particular position
#let us get a subset which consists  of first 8 rows and first 4
df.iloc[:8,:4]

,index,budget,genres,homepage
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter
5,5,258000000,Fantasy Action Adventure,http://www.sonypictures.com/movies/spider-man3/
6,6,260000000,Animation Family,http://disney.go.com/disneypictures/tangled/
7,7,280000000,Action Adventure Science Fiction,http://marvel.com/movies/movie/193/avengers_ag...

In [53]:
#loc get rows or column with particular label from the index
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [55]:
df.loc[:8,["id",'budget','genres']]

       id     budget                                    genres
0   19995  237000000  Action Adventure Fantasy Science Fiction
1     285  300000000                  Adventure Fantasy Action
2  206647  245000000                    Action Adventure Crime
3   49026  250000000               Action Crime Drama Thriller
4   49529  260000000          Action Adventure Science Fiction
5     559  258000000                  Fantasy Action Adventure
6   38757  260000000                          Animation Family
7   99861  280000000          Action Adventure Science Fiction
8     767  250000000                  Adventure Fantasy Family

In [58]:
#for all  the rows 
df.loc[:,["id",'budget','genres','runtime']]

          id     budget                                    genres  runtime
0      19995  237000000  Action Adventure Fantasy Science Fiction    162.0
1        285  300000000                  Adventure Fantasy Action    169.0
2     206647  245000000                    Action Adventure Crime    148.0
3      49026  250000000               Action Crime Drama Thriller    165.0
4      49529  260000000          Action Adventure Science Fiction    132.0
...      ...        ...                                       ...      ...
4798    9367     220000                     Action Crime Thriller     81.0
4799   72766       9000                            Comedy Romance     85.0
4800  231617          0             Comedy Drama Romance TV Movie    120.0
4801  126186          0                                       NaN     98.0
4802   25975          0                               Documentary     90.0

[4803 rows x 4 columns]

In [60]:
df[["id",'budget','genres']]

          id     budget                                    genres
0      19995  237000000  Action Adventure Fantasy Science Fiction
1        285  300000000                  Adventure Fantasy Action
2     206647  245000000                    Action Adventure Crime
3      49026  250000000               Action Crime Drama Thriller
4      49529  260000000          Action Adventure Science Fiction
...      ...        ...                                       ...
4798    9367     220000                     Action Crime Thriller
4799   72766       9000                            Comedy Romance
4800  231617          0             Comedy Drama Romance TV Movie
4801  126186          0                                       NaN
4802   25975          0                               Documentary

[4803 rows x 3 columns]

In [61]:
# first five data 
df.iloc[:6]

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
5,5,258000000,Fantasy Action Adventure,http://www.sonypictures.com/movies/spider-man3/,559,dual identity amnesia sandstorm love of one's ...,en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,...,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576,Tobey Maguire Kirsten Dunst James Franco Thoma...,"[{'name': 'Francine Maisler', 'gender': 1, 'de...",Sam Raimi

In [62]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [65]:
df[['original_language']]

     original_language
0                   en
1                   en
2                   en
3                   en
4                   en
...                ...
4798                en
4799                en
4800                en
4801                en
4802                en

[4803 rows x 1 columns]

In [64]:
# we can also perform boolean indexing on our data frame
df['original_language']=='en'

0       True
1       True
2       True
3       True
4       True
        ...
4798    True
4799    True
4800    True
4801    True
4802    True
Name: original_language, Length: 4803, dtype: bool

In [67]:
# boolean Indexing
cond =df['original_language']=='en'
english_mov=df[cond]
english_mov.head(10)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
5,5,258000000,Fantasy Action Adventure,http://www.sonypictures.com/movies/spider-man3/,559,dual identity amnesia sandstorm love of one's ...,en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,...,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576,Tobey Maguire Kirsten Dunst James Franco Thoma...,"[{'name': 'Francine Maisler', 'gender': 1, 'de...",Sam Raimi
6,6,260000000,Animation Family,http://disney.go.com/disneypictures/tangled/,38757,hostage magic horse fairy tale musical,en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,...,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330,Zachary Levi Mandy Moore Donna Murphy Ron Perl...,"[{'name': 'John Lasseter', 'gender': 2, 'depar...",Byron Howard
7,7,280000000,Action Adventure Science Fiction,http://marvel.com/movies/movie/193/avengers_ag...,99861,marvel comic sequel superhero based on comic b...,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,...,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767,Robert Downey Jr. Chris Hemsworth Mark Ruffalo...,"[{'name': 'Danny Elfman', 'gender': 2, 'depart...",Joss Whedon
8,8,250000000,Adventure Fantasy Family,http://harrypotter.warnerbros.com/harrypottera...,767,witch magic broom school of witchcraft wizardry,en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,...,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293,Daniel Radcliffe Rupert Grint Emma Watson Tom ...,"[{'name': 'Bruno Delbonnel', 'gender': 0, 'dep...",David Yates
9,9,250000000,Action Adventure Fantasy,http://www.batmanvsupermandawnofjustice.com/,209112,dc comics vigilante superhero based on comic b...,en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,...,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004,Ben Affleck Henry Cavill Gal Gadot Amy Adams J...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Zack Snyder

In [69]:
df['original_language'].value_counts()

en    4803
Name: original_language, dtype: int64

In [71]:
cond =df['original_language']!='en'
english_mov=df[cond]
english_mov.head(10)

Empty DataFrame
Columns: [index, budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, cast, crew, director]
Index: []

[0 rows x 24 columns]

In [72]:
long_mov =df[df['runtime']>120]
long_mov[['title','cast']]

,title,cast
0,Avatar,Sam Worthington Zoe Saldana Sigourney Weaver S...
1,Pirates of the Caribbean: At World's End,Johnny Depp Orlando Bloom Keira Knightley Stel...
2,Spectre,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...
3,The Dark Knight Rises,Christian Bale Michael Caine Gary Oldman Anne ...
4,John Carter,Taylor Kitsch Lynn Collins Samantha Morton Wil...
...,...,...
4535,Seven Samurai,Toshir\u014d Mifune Takashi Shimura Yoshio Ina...
4573,As It Is in Heaven,Michael Nyqvist Frida Hallgren Helen Sj\u00f6h...
4592,Intolerance,Lillian Gish Mae Marsh Robert Harron F.A. Turn...
4661,The Big Parade,John Gilbert Ren\u00e9e Ador\u00e9e Hobart Bos...
4686,Ordet,Birgitte Federspiel Preben Lerdorff Rye Henrik...

In [73]:
long_mov.shape

(988, 24)

In [88]:
df.drop?

Signature:
df.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise',
)
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    inplace and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    DataFrame without the removed index or column labels or
    None if ``inplace=True``.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
lama    speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      e:\anaconda\lib\site-packages\pandas\core\frame.py
Type:      method

In [89]:
df['runtime']

0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
        ...
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0
Name: runtime, Length: 4803, dtype: float64

In [90]:
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,Action Crime Thriller,NaN,9367,united states\u2013mexico barrier legs arms pa...,en,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,"[{'name': 'Robert Rodriguez', 'gender': 0, 'de...",Robert Rodriguez
4799,9000,Comedy Romance,NaN,72766,NaN,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,"[{'name': 'Edward Burns', 'gender': 2, 'depart...",Edward Burns
4800,0,Comedy Drama Romance TV Movie,http://www.hallmarkchannel.com/signedsealeddel...,231617,date love at first sight narration investigati...,en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,"[{'name': 'Carla Hetland', 'gender': 0, 'depar...",Scott Smith
4801,0,NaN,http://shanghaicalling.com/,126186,NaN,en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,"[{'name': 'Daniel Hsia', 'gender': 2, 'departm...",Daniel Hsia
4802,0,Documentary,NaN,25975,obsession camcorder crush dream girl,en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,Drew Barrymore Brian Herzlinger Corey Feldman ...,"[{'name': 'Clark Peterson', 'gender': 2, 'depa...",Brian Herzlinger

In [91]:
df["budget"].sum()

139503326521

In [92]:
df["budget"].max()

380000000

In [93]:
df["budget"].min()

0

In [94]:
df["budget"].mean()

29045039.87528628

In [95]:
df["budget"].median()

15000000.0

In [97]:
df["budget"].std()

40722391.25854911