In [2]:
import numpy as np 
import pandas as pd

In [ ]:
a=np.random.randint(10,20, size=(4,6))
a

array([[13, 14, 16, 15, 11, 19],
       [14, 10, 17, 10, 14, 11],
       [15, 13, 17, 14, 11, 11],
       [17, 15, 13, 14, 18, 18]])

In [ ]:
a[1,1]

10

In [ ]:
a[1][1]

10

In [ ]:
a_df=pd.DataFrame(a,columns=['a','c','b','d','e','f'],index=['x','y','e','h'])
a_df

    a   c   b   d   e   f
x  13  14  16  15  11  19
y  14  10  17  10  14  11
e  15  13  17  14  11  11
h  17  15  13  14  18  18

In [ ]:
a_df.iloc[1,1]

10

In [ ]:
a_df.loc['x']

a    13
c    14
b    16
d    15
e    11
f    19
Name: x, dtype: int32

In [ ]:
a_df.loc["x","c"]

14

In [ ]:
# acess only f column
a_df.loc[:,"f"]

x    19
y    11
e    11
h    18
Name: f, dtype: int32

In [ ]:
a_df.iloc[:,[5,0]] #iloc use for indeger index and loc use for   char index

    f   a
x  19  13
y  11  14
e  11  15
h  18  17

In [ ]:
df=pd.read_csv("movies.csv")
df

NameError: name 'pd' is not defined

In [ ]:
df.shape

(50000, 2)